@charset "utf-8";



@keyframes doimau {
    from {
        color: blue;
    }
    to {
        color: green;
    }
}

h1 {
    animation: doimau 1s infinite;
    text-align: center;
    font-size: 56px;
    margin: 0 ;
}

nav {
    background-color: red;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

nav ul > li > a:hover {
    background-color: lightblue;
    color: white;
    text-decoration: underline;
}

.subcontent {
    display: none;
    position: absolute;
    background-color: lightblue;
    width: 200px;
}

.submenu:hover .subcontent {
    display: block;
}